# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

CREDITS-fml.txt
MinecraftForge-Credits.txt
ForgeREADME.txt
gradle/wrapper/gradle-wrapper.jar
forge-1.8-11.14.4.1577-changelog.txt
gradle/wrapper/gradle-wrapper.properties
LICENSE-fml.txt
MinecraftForge-License.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt